<%- include('../partials/header') %>

<h1>Enter Ticket information</h1>
    <form id="add-ticket-form" action="/drivers" method="POST">
        <label>Driver Name:</label>
        <input type="text" name="driverName" >
        <label>Driver Age:</label>
        <input type="text" name="age">
        <input type="submit" value="Add Driver">
        <%- include('../partials/countries') %>
    </form>

<%- include('../partials/footer') %>