<%- include('../partials/header') %>
<h1>Edit Team</h1>

<form action="/teams/<%= team._id %>?_method=PUT" method="POST">
    <label>Name:</label>
    <input type="text" name="teamName">

    <label>Car:</label>
    <select name="teamCar">
        <option value="Merc W13">Merc W13</option>
        <option value="Red Bull RB18">Red Bull RB18</option>
        <option value="Ferrari F1-75">Ferrari F1-75</option>
        <option value="McLaren MCL36">McLaren MCL36</option>
        <option value="Alpine A522">Alpine A522</option>
        <option value="AlphaTauri AT03">AlphaTauri AT03</option>
        <option value="Aston Martin AMR22">Aston Martin AMR22</option>
        <option value="Williams FW44">Williams FW44</option>
        <option value="Alfa Romeo C42">Alfa Romeo C42</option>
        <option value="Haas VF-22">Haas VF-22</option>
    </select>
    <input type="submit" value="ADD TEAM">
</form>

<%- include('../partials/footer') %>