<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teams index.ejs</title>
</head>
<body>
    <h1>WOrks</h1>
    <a href="/teams/new">ADD TEAM</a>
    <table id="list">
        <thead>
          <tr>

            <th>Title</th>
            
          </tr>
        </thead>
        <tbody>
          <% teams.forEach(function(team) { %>
            <tr>

              <td><%= team.teamName %></td>
              <td><a href="/teams/<%= team._id %>">DRIVERS</a></td>

            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>