<%- include('../partials/header') %>

    <a href="/">home</a>
    <form id="new-team" action="/teams" method="POST">
        <label>Name:</label>
        <input type="text" name="teamName">
        <input type="submit" value="ADD TEAM">
    </form>  
    
<%- include('../partials/footer') %>