<%- include('../partials/header') %>

    <a href="/">home</a>
    
<div>
    <table>
        <thead>
        <tr>
            <th>TEAM NAME:</th>
            <td><%= team.teamName %></td>
        </tr>
        </thead>
    </table>
</div>        


<%- include('../partials/footer') %>