body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  

}

header {
  width: 100%;
}

a {
  color: #00B7FF;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

header {
  background-color: rgb(159, 39, 7);
}

/* top navigation */
.topnav {
  background-color: rgb(132, 42, 42);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* top navigation */

.tableHeader {
  border: 2px solid rgb(175, 36, 36);
  text-align: center;
}

.teamData {
  border: 2px solid rgb(175, 36, 36);
  color: beige;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 10 0 10;
}

.driverData {
  border: 2px solid rgb(175, 36, 36);
  color: beige;
}

.avatarImg {
  border-radius: 45px;
}

table {
  font-family: Verdana, sans-serif;
  margin-top: 40px;
}

th {
  font-size: 30px;
  color: beige;
  padding: 15px;
}
 .teamName {
   color: beige;
   font-size: 40px;
 }
 h1 {
  font-family: 'Alfa Slab One', cursive;
  margin:auto;
  padding: 5px;
  width: 100%;
}

h2 {
  color: beige;
}

 h3 {
  color: beige;
 }

 #buttonDelete {
  color: beige;
  background-color: rgb(175, 36, 36);
  padding: 10px 5px 10px 5px;
  border-radius: 25px;
 }

 #driversLink {
   color: red;
 }

 #driversLink:hover {
  color: beige;
}

label {
  font-size: 25px;
  color: beige;
}
input {
  height: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: beige;
  border: 1px solid red;
}
select {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: beige;
  border: 1px solid red;
}